%% -*- mode: erlang -*-

{erl_opts, [debug_info,
	    {parse_transform, lager_transform}]}.

{deps, [
	{bifrost, {git, "git://github.com/Raphexion/bifrost.git", {branch, "master"}}},
	{kiks, {git, "git://github.com/Raphexion/kiks.git", {branch, "master"}}},
	{erlmemfs, {git, "git://github.com/Raphexion/erlmemfs.git", {branch, "master"}}}
       ]}.

{lager, [
	 {log_root, "/tmp/log/ftp2rabbitmq"},
	 {handlers, [
		     {lager_console_backend, [{level, info}]},
		     {lager_file_backend, [{file, "error.log"}, {level, error}]},
		     {lager_file_backend, [{file, "console.log"}, {level, info}]}
		    ]}
	]}.

{shell, [{apps, [ftp2rabbitmq]}]}.
