%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
	{bifrost, {git, "git://github.com/Raphexion/bifrost.git", {branch, "master"}}},
	{kiks, {git, "git://github.com/Raphexion/kiks.git", {branch, "master"}}},
	{erlmemfs, {git, "git://github.com/Raphexion/erlmemfs.git", {branch, "master"}}}
       ]}.
